@font-face {
    font-family: 'Wolfensteinregular'; 
    src: url('fontes/Wolfenstein\ Regular.ttf') format('truetype'); 
  }
@font-face {
    font-family: 'Wolfensteintitulo'; 
    src: url('fontes/wolfenstein.ttf') format('truetype'); 
  }
@font-face {
    font-family: 'Mattone'; 
    src: url('fontes/Mattone-Regular.otf') format('truetype'); 
  }
  @font-face {
    font-family: 'Wolfenstein'; 
    src: url('fontes/3650-font.otf') format('truetype'); 
  }

  * {
    margin: 0;
    padding: 0;
  }

header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    
  }
  

  header.tit{
    margin-top: 10px;
  }

body{
    background-color: #0D0D0D;
}

p{
    font-family: 'Mattone-Regular ';
}


/*TITULO*/
.titulo{
    color: white;
    font-size: 125px;
    font-family: 'Wolfensteintitulo';
}

/*INFOS do JOGO*/

.apresentaçao{
    background-image: url('fundoMenu.png'); /* coloca o formato certo */
  background-size: cover;      /* faz o fundo preencher a área */
  background-position: center; /* centraliza a imagem */
  background-repeat: no-repeat;/* evita repetição */
  
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 12px;
}

  .apresentaçao-conteudo
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
  
}

.apresentaçao-img
{
  flex: 1 1 300px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.apresentaçao-img img
{
  width: 100%;
  max-width: 350px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
}

.apresentaçao-texto{
  flex: 2 1 500px;
  font-size: 30px;
  padding-right: 75px;
  color: azure;
}

.apresentacao-texto p{
  color: #ccc;
  margin-bottom: 16px;
  line-height: 1.6;
}


/*PARTE DOS PERSONAGENS E DAS INFOS*/
.container {
    display: flex;
    height: 625px;
    background-color: #111;
    color: white;
    font-family: 'Mattone';
}

/* Coluna esquerda */
.personagens {
    flex: 1;
    background-color: #222;
    padding: 20px;
    border-right: 2px solid red;
    overflow-y: auto;
    scrollbar-width: none;  
}

.lista-personagens {
   display: flex;
    flex-direction: row; /* muda para linha */
    gap: 15px;           
    flex-wrap: wrap;  
}

.lista-personagens img {
    width: 120px;
    border: 2px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.lista-personagens img:hover {
    border: 2px solid red;
}

/* Coluna direita */
.infopersonagem {
    flex: 2;
    padding: 40px;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;
}

.infopersonagem img {
    width: 600px;
    border-radius: 10px;
    margin-top: 20px;
}








/*footer*/
.rodape {
    background-color: #000000;
    color: #EAEAEA;
    padding: 10px 12px;
    text-align: center;
    border-top: 2px solid #B80015;
    margin-top: 40px;
    background-image: url('fundoMenu.png'); /* coloca o formato certo */
  background-size: cover;      /* faz o fundo preencher a área */
  background-position: center; /* centraliza a imagem */
  background-repeat: no-repeat;/* evita repetição */
  }
  
  .img-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 5px;
    background-color: transparent;
  }
  
  .img-footer img {
    height: 200px;
    width: auto;
    border-radius: 12px;
  }
  
  .footer-titulo {
    font-family: 'Moretto', sans-serif;
    font-size: 25px;
    color: #EAEAEA;
  }
  
  .footer-titulo span {
    color: #B80015;
    font-weight: bold;
  }
  
  .direitos {
    font-size: 30px;
    color: #888888;
  }
  
  img {
    text-align: center;
  }