@font-face {
    font-family: 'Wolfensteinregular'; 
    src: url('fontes/Wolfenstein\ Regular.ttf') format('truetype'); 
  }
@font-face {
    font-family: 'Wolfensteintitulo'; 
    src: url('fontes/wolfenstein.ttf') format('truetype'); 
  }
@font-face {
    font-family: 'Mattone'; 
    src: url('fontes/Mattone-Regular.otf') format('truetype'); 
  }


  * {
    margin: 0;
    padding: 0;
  }

header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  header.tit{
    margin-top: 10px;
  }

body{
    background-color: #0D0D0D;
}

p{
    font-family: 'Mattone-Regular ';
}

.titulo{
    color: white;
    font-size: 125px;
    font-family: 'Wolfensteintitulo';
}

.apresentaçao{
    background-color: #590202;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 12px;
}

  .apresentaçao-conteudo
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
  
}


.apresentaçao-img
{
  flex: 1 1 300px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.apresentaçao-img img
{
  width: 100%;
  max-width: 350px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
}


.apresentaçao-texto{
  flex: 2 1 500px;
  font-size: 30px;
  padding-right: 75px;
}

.apresentacao-texto p{
  color: #ccc;
  margin-bottom: 16px;
  line-height: 1.6;
}




.rodape {
    background-color: #000000;
    color: #EAEAEA;
    padding: 10px 12px;
    text-align: center;
    border-top: 2px solid #B80015;
    margin-top: 40px;
  }
  
  .img-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 5px;
    background-color: transparent;
  }
  
  .img-footer img {
    height: 200px;
    width: auto;
    border-radius: 12px;
  }
  
  .footer-titulo {
    font-family: 'Wolfensteinregular', sans-serif;
    font-size: 100px;
    color: #EAEAEA;
  }
  
  .footer-titulo span {
    color: #B80015;
    font-weight: bold;
  }
  
  .direitos {
    font-size: 30px;
    color: #888888;
  }
  
  img {
    text-align: center;
  }